<%
  var featuredProjects = Array.isArray(site.data.projects)
    ? site.data.projects.filter(function(project) { return project.featured; })
    : [];
  var recentPosts = site.posts && typeof site.posts.toArray === 'function'
    ? site.posts.toArray().sort(function(a, b) {
        return new Date(b.date) - new Date(a.date);
      }).slice(0, 5)
    : [];
  var socialLinks = theme.social_links || {};
  var socialKeys = Object.keys(socialLinks);
%>

<section class="home-hero">
<p class="home-social">
  Find me on
  <% socialKeys.forEach(function(name) { %>
    <% var iconClass = name === 'mail' ? 'fas fa-envelope' : 'fab fa-' + name; %>
    <a class="icon" href="<%= socialLinks[name] %>"<% if (name !== 'mail') { %> target="_blank" rel="noopener me"<% } %> aria-label="<%= name %>" title="<%= name %>"><i class="<%= iconClass %>" aria-hidden="true"></i></a>
  <% }) %>
  .
</p>
</section>

<section class="home-section">
  <p class="section-label">Recent Writing</p>
  <ul class="curated-list">
    <% if (recentPosts.length) { %>
      <% recentPosts.forEach(function(post) { %>
        <li>
          <%- partial('_partial/post/date', { post: post, class_name: 'meta' }) %>
          <span><%- partial('_partial/post/title', { post: post, index: true, class_name: '' }) %></span>
        </li>
      <% }) %>
    <% } else { %>
      <li>WIP.</li>
    <% } %>
  </ul>
  <% if (!recentPosts.length) { %>
    <p class="section-note">Nothing public yet.</p>
  <% } %>
</section>


