<!DOCTYPE html>
<html<%= config.language ? " lang=" + config.language.substring(0, 2) : ""%>>
<%- partial('_partial/head') %>
<body class="max-width mx-auto px3 <%- theme.direction -%>">
  <!-- <div id="banner" class="banner">
    <div class="banner-content">
        <span id="closeBanner" class="banner-close">&times;</span>
        <p>
          I built <a href="https://github.com/Eliran-Turgeman/Collecto" target="_blank">Collecto</a> so you can collect emails transparently
           - <a href="https://trycollecto.github.io/" target="_blank">sign up for early access</a>
        </p>
    </div>
  </div> -->
</div>
    <% if (is_post()) { %>
      <%- partial('_partial/post/actions_desktop') %>
    <% } %>
    <div class="content index py4">
        <% if (!is_post()) { %>
          <%- partial('_partial/header') %>
        <% } %>
        <%- body %>
        <% if (is_post()) { %>
          <%- partial('_partial/post/actions_mobile') %>
        <% } %>
        <%- partial('_partial/footer') %>
    </div>
    <%- partial('_partial/styles') %>
    <%- partial('_partial/scripts') %>
</body>
</html>
