<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <header>
    <%- partial('_partial/post/title', { post: page, index: false, class_name: 'posttitle' }) %>
    <% if (page.subtitle) { %>
      <p class="post-dek"><%= page.subtitle %></p>
    <% } %>
    <div class="meta post-meta-row">
      <%- partial('_partial/post/date', { post: page, class_name: 'postdate' }) %>
      <% if (page.readTime) { %>
        <span class="read-time post-chip">
          <%= page.readTime %> <%= page.readTime == 1 ? 'minute' : 'minutes' %>
        </span>
      <% } %>
      <% if (page.status) { %>
        <span class="post-chip"><%= page.status %></span>
      <% } %>
      <% if (page.series) { %>
        <span class="post-chip">Series: <%= page.series %></span>
      <% } %>
      <%- partial('_partial/post/tag') %>
    </div>
  </header>
  <%- partial('_partial/post/gallery') %>
  <div class="content" itemprop="articleBody">
    <%- page.content %>
  </div>
</article>

<%- partial('_partial/comments') %>

<%
  var relatedPosts = [];

  function isUniquePost(post) {
    return post._id !== page._id && !relatedPosts.some(function(item) {
      return item._id === post._id;
    });
  }

  if (page.tags && page.tags.length) {
    page.tags.forEach(function(tag) {
      if (tag.posts && tag.posts.length) {
        tag.posts.forEach(function(post) {
          if (isUniquePost(post)) {
            relatedPosts.push(post);
          }
        });
      }
    });
  }
%>

<% if (relatedPosts.length) { %>
<section class="related-posts" style="margin-top: 2rem;">
  <h3>Related Posts</h3>
  <ul>
    <% relatedPosts.slice(0, 4).forEach(function(rp) { %>
      <li>
        <a href="<%= url_for(rp.path) %>"><%= rp.title %></a>
      </li>
    <% }); %>
  </ul>
</section>
<% } %>
