<% var formats = Array.isArray(book.formats) ? book.formats : (book.formats ? [book.formats] : []) %>
<ul class="book-meta">
  <% if (book.series) { %>
    <li><strong>Series:</strong> <%= book.series %><% if (typeof book.series_order === 'number') { %> #<%= book.series_order %><% } %></li>
  <% } %>
  <% if (book.isbn) { %>
    <li><strong>ISBN:</strong> <%= book.isbn %></li>
  <% } %>
  <% if (book.page_count) { %>
    <li><strong>Pages:</strong> <%= book.page_count %></li>
  <% } %>
  <% if (book.word_count) { %>
    <li><strong>Words:</strong> <%= book.word_count %></li>
  <% } %>
  <% if (formats.length) { %>
    <li><strong>Formats:</strong> <%= formats.join(', ') %></li>
  <% } %>
</ul>
